<ul id="not-devoured">
    {{#each burgers}}
    {{#unless devoured}}
    <li>
        {{burger_name}}
        <button class="change-devoured" data-id="{{id}}" data-newdevoured="true"> Devour It!</button>
    </li>
    {{/unless}}
    {{/each}}
</ul>
<div id="devoured">
    {{#each burgers}}
    {{#if devoured}}
    <p>
        {{burger_name}}
    </p>
    {{/if}}
    {{/each}}

</div>
<form class="create-form" data-newdevoured="0">
    <div class="form-group">
        <input type="text" id="burger" name="burger_name">
        <label for="burger"></label>
        <button type="submit">Submit</button>
    </div>
</form>